span {
    display:inline;
    border: 1px solid grey;
    padding:10px;
    padding:10px;
}

div {
    margin-top:20px;
}

#error {
    color:red;
}

.selected {
    border: 1px solid coral;
    color:white;
    background-color:coral;
    font-weight:700;
}

